.projects {
  top: 30%;
  font-family: Quicksand_Bold;
  font-size: 18px;
  

}

.button {
	background-color: none;
	transform: translate(0,0px);
	transition: transform 250ms ease-in-out;

}

.button a:hover {
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.button:hover {
	transform: translate(10px, 0px);
}

.button a {
	position: relative;
	text-decoration: none;
}

.button a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX();
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.button a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX();
}
