header {
	background:none;
	color: #007bff;
	font-family: Quicksand;
	font-weight: 500;
	font-size: 14px;
	padding: 30px 15px 0 15px;

}

header h1 {
	color: #007bff;
	font-size: 32px;
	font-weight: 500;
  left: 5%;
  position: absolute;

}
