
html {
	height: 135%;
}

body {
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(black, #93d7ff);
	color: #007bff;
	margin: 0;
	padding: 0;
}



footer {
	background: #111;
	color: #007bff;
	font-family: Quicksand;
	bottom: 5%;
	position: absolute;

}

section {
  position: absolute;
	font-family: Quicksand;
	font-size: 20px;
	color: white;
	right: 5%;
	left: 5%;

}

section h2 {
	font-family: Quicksand;
	font-style: italic;
	font-weight: 100100;
	color: white;

}

header nav {
	float: right;
	margin-right: 10%;
	font-family: Quicksand Bold;
	font-size: 14px;
	opacity: 1;
}

nav ul {
	background: none;
	margin: 0;


}

nav ul li {
	background: none;
	color: #007bff;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}




.secondary {
	background: #222;
	color: #007bff;
}

.avoidHeader {
	position: absolute;
	top: 50%;
}



@font-face {
	font-family: 'Quicksand';
	src: url(Fonts/Quicksand_Book.otf);
	font-style: normal;
	font-weight: 100;

}

@font-face {
	font-family: 'Quicksand_Bold';
	src: url(Fonts/Quicksand_Bold.otf);
	font-style: normal;
	font-weight: 100;

}

@font-face {
	font-family: 'Quicksand_Bold_Oblique';
	src: url(Fonts/Quicksand_Bold_Oblique.otf);
	font-weight: 100;
}

.heading {
	left: 50%;
}
